absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1751547525079/work
alembic==1.16.4
annotated-types==0.7.0
anyio==4.10.0
appdirs==1.4.4
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1733332318622/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
astunparse @ file:///home/conda/feedstock_root/build_artifacts/astunparse_1736248061654/work
attrs==25.3.0
backoff==2.2.1
blinker==1.9.0
boto3==1.40.19
botocore==1.40.19
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1749229914644/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools==5.5.2
catboost==1.2.8
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1754231422783/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560578465/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1754767332901/work
click==8.2.1
cloudpickle==3.1.1
comm @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_comm_1753453984/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1754063631397/work
cryptography==45.0.6
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
dacite==1.6.0
dagshub==0.6.3
dagshub-annotation-converter==0.1.13
databricks-sdk==0.64.0
dataclasses-json==0.6.7
debugpy @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_debugpy_1754523441/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
dnspython==2.7.0
docker==7.1.0
dotenv==0.9.9
et_xmlfile==2.0.0
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1745502089858/work
exporters==0.7.0
fastapi==0.116.1
Flask==3.1.2
flatbuffers @ file:///home/conda/feedstock_root/build_artifacts/python-flatbuffers_1739279199749/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1752722766447/work
gast @ file:///home/conda/feedstock_root/build_artifacts/gast_1733299680490/work
gitdb==4.0.12
GitPython==3.1.45
google-auth==2.40.3
google-pasta @ file:///home/conda/feedstock_root/build_artifacts/google-pasta_1733852499742/work
gql==4.0.0
graphene==3.4.3
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.21
grpcio @ file:///Users/runner/miniforge3/conda-bld/grpc-split_1740784252780/work
gunicorn==23.0.0
h11==0.16.0
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
h5py @ file:///Users/runner/miniforge3/conda-bld/h5py_1749299298369/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
htmlmin==0.1.12
httpcore==1.0.9
httpx==0.28.1
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
ImageHash==4.3.1
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1754352890318/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_ipython_1751465044/work
ipython-genutils==0.2.0
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.6
jmespath==1.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1748019130050/work
jsonschema==4.25.1
jsonschema-specifications==2025.4.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1733440914442/work
jupyter_core @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1748333051527/work
keras @ file:///home/conda/feedstock_root/build_artifacts/keras_1747722781675/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_kiwisolver_1754889447/work
lightgbm==4.6.0
llvmlite==0.44.0
lxml==6.0.1
Mako==1.3.10
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1750360292101/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1754951200865/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219728782/work
marshmallow==3.26.1
matplotlib==3.10.0
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
ml-dtypes @ file:///Users/runner/miniforge3/conda-bld/ml_dtypes_1725475050009/work
mlflow==2.22.0
mlflow-skinny==2.22.0
mlflow-tracing==3.3.2
multidict==6.6.4
multimethod==1.12
munkres==1.1.4
mypy_extensions==1.1.0
namex @ file:///home/conda/feedstock_root/build_artifacts/namex_1748346368839/work
narwhals==2.1.2
nbformat==4.2.0
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.5
numba==0.61.0
numpy==2.1.3
openpyxl==3.1.5
opentelemetry-api==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opt_einsum @ file:///home/conda/feedstock_root/build_artifacts/opt_einsum_1733687912731/work
optree @ file:///Users/runner/miniforge3/conda-bld/optree_1753455121058/work
packaging==24.2
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1752081795134/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
pathvalidate==3.3.1
patsy @ file:///home/conda/feedstock_root/build_artifacts/patsy_1733792384640/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
phik==0.12.5
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1751482098407/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1746710438/work
plotly==6.3.0
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1744724089886/work
propcache==0.3.2
protobuf @ file:///Users/runner/miniforge3/conda-bld/protobuf_1731365513768/work/bazel-bin/python/dist/protobuf-5.28.3-cp312-abi3-macosx_11_0_arm64.whl#sha256=aac4425bec324c872c01ce2fed0b88e69797312e846bdd7c171fbebcd619d858
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1740663189718/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1733302279685/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl#sha256=92c32ff62b5fd8cf325bec5ab90d7be3d2a8ca8c8a3813ff487a8d2002630d1f
pure_eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
puremagic==1.30
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic==2.11.7
pydantic_core==2.33.2
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pymongo==4.14.1
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1753873557/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
python-dotenv==1.1.1
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
PyWavelets==1.9.0
PyYAML==6.0.2
pyzmq @ file:///Users/runner/miniforge3/conda-bld/pyzmq_1754238107495/work
referencing==0.36.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1749498106507/work
requests-toolbelt==1.0.0
retrying==1.4.2
rich @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_rich_1753436991/work/dist
rpds-py==0.27.0
rsa==4.9.1
s3transfer==0.13.1
scikeras==0.13.0
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1752825793418/work/dist/scikit_learn-1.7.1-cp312-cp312-macosx_11_0_arm64.whl#sha256=71b49b36b10e98404b7242c0a9c8357ad40cbdf6ca5efc46478a69d02657a892
scipy==1.15.3
seaborn @ file:///home/conda/feedstock_root/build_artifacts/seaborn-split_1733730015268/work
semver==3.0.4
setuptools==80.9.0
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
smmap==5.0.2
sniffio==1.3.1
SQLAlchemy==2.0.43
sqlparse==0.5.3
stack_data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.47.3
statsmodels @ file:///Users/runner/miniforge3/conda-bld/statsmodels_1751917615882/work
tenacity==9.1.2
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1733820672324/work/tensorboard-2.18.0-py3-none-any.whl#sha256=107ca4821745f73e2aefa02c50ff70a9b694f39f790b11e6f682f7d326745eab
tensorboard_data_server @ file:///Users/runner/miniforge3/conda-bld/tensorboard-data-server_1728639727952/work/tensorboard_data_server-0.7.0-py3-none-any.whl#sha256=73ea95609b36e88bee42dddabc1609c4a10374c0021e163ff18688c3e5643d34
tensorflow @ file:///Users/isuruf/projects/tensorflow-feedstock/miniforge3/conda-bld/tensorflow-split_1754490747930/work/tensorflow_pkg/tensorflow-2.18.0-cp312-cp312-macosx_11_0_arm64.whl#sha256=287d89d43ad01ccf639b1bc8dfafe11c65810fe889358105fbddb05a10ebd01e
tensorflow_estimator @ file:///Users/isuruf/projects/tensorflow-feedstock/miniforge3/conda-bld/tensorflow-split_1754490747930/work/tensorflow-estimator/wheel_dir3.12/tensorflow_estimator-2.15.0-py2.py3-none-any.whl#sha256=d69d9374260cc7bce4917d613aa7e5842a5930102d5f3eedb21209f9b4d6e469
termcolor @ file:///home/conda/feedstock_root/build_artifacts/termcolor_1746039537955/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
tornado @ file:///Users/runner/miniforge3/conda-bld/tornado_1754732062994/work
tqdm==4.67.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
treelib==1.8.0
typeguard==4.4.4
typing-inspect==0.9.0
typing-inspection==0.4.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1751643513/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
ucimlrepo @ file:///home/conda/feedstock_root/build_artifacts/ucimlrepo_1736198558423/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1736692573761/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1750271362675/work
uvicorn==0.35.0
visions==0.8.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wheel==0.45.1
wordcloud==1.9.4
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1755006389130/work
xgboost==3.0.4
yarl==1.20.1
ydata-profiling==4.16.1
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
zstandard==0.23.0
