@tailwind base;
@tailwind components;
@tailwind utilities;

/* nada de @import "tailwindcss"; ni @theme inline */

:root {
  --background: #ffffff;
  --foreground: #171717;

  --topbar-height: 56px;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0b0b0b;
  }
}

body {
  margin: 0;

  background: var(--background);
  color: #1A1A1A;
  font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

html, body {
  height: 100%;
}
