@import "tailwindcss";

/* Estilos globales opcionales */
html, body, #root {
  height: 100%;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background:
    radial-gradient(1200px 600px at 70% -100px, rgba(255,212,59,.20), transparent 60%),
    #F4F4F6; /* Fondo gris claro + radial amarillo */
  color: #1A1A1A; /* Texto oscuro */
}
